ul {
    list-style-type: none;
   
}

li {
    text-decoration: none;
}

Link:visited {
    text-decoration: none;
}

h2{
    display:flex;
    font-size: 30px;
}

.marquee {
    animation: marquee 20s linear infinite;
  }

  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }

.oneVid {
    margin: auto;
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #4178a2;
    font-size: 25px;
}

.linkList{
    width: 50%;
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

iframe {
    margin-top: 20px;
    margin-bottom: 30px;
  
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
  
    
  }


